---
layout: 'base.hbs'
---
<header class="site-header">
    <div class="wrapper header-wrapper">

        <div class="container">
            <div class="controls">
                <a href="/" class="logo">
                    {{inc src="public/img/logo.svg"}}
                </a>
                <div class="controls__skip-links">
                    <a href="#" class-toggle="site-contact--open" class="skip skip--contact">
                        {{inc src="icon.hbs" icon="phone"}}
                        {{inc src="icon.hbs" icon="close"}}
                    </a>
                    <a href="#" class-toggle="site-nav--open" class="skip skip--site-nav">
                        {{inc src="icon.hbs" icon="menu"}}
                        {{inc src="icon.hbs" icon="close"}}
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- Site Navigation -->
    <nav class="wrapper site-nav">
        <div class="container">

            <ul class="site-nav__items">

                <li class="site-nav__item not-palm"><a href="/about" class="nav-link">About</a></li>
                <li class="site-nav__item site-nav__item--with-children not-palm">
                    <a href="/contact" class="nav-link">Contact Us</a>
                    <div class="subnav">
                        <div class="subnav__content">
                            <ul class="subnav__items">
                                <li class="subnav__item">
                                    <!-- TODO: phone link -->
                                    <a href="tel:{{$$.site.contact.phone}}" class="subnav__link"><strong>Call:</strong> {{$$.site.contact.phone}}</a>
                                </li>
                                <li class="subnav__item">
                                    <a href="mailto:{{$$.site.contact.email}}" class="subnav__link"><strong>Email:</strong> {{$$.site.contact.email}}</a>
                                </li>
                                <li class="subnav__item subnav__item--last">
                                    <a href="/contact" class="subnav__link"><strong>Online:</strong> Click here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="site-nav__item site-nav__item--with-children">
                    <a href="/services" class="nav-link not-palm">Services</a>
                    <div class="subnav">
                        <div class="subnav__content">
                            <ul class="subnav__items">
                                <li class="subnav__item"><a href="/services/photo-booths" class="subnav__link subnav__link--before">Photobooths</a></li>
                                <li class="subnav__item"><a href="/services/photo-booths/the-pod" class="subnav__link subnav__link--highlight">Photo Booths 'The Pod'</a></li>
                                <li class="subnav__item"><a href="/services/photo-booths/mini-pod" class="subnav__link subnav__link--highlight">Photo Booths 'Mini Pod'</a></li>
                                <li class="subnav__item"><a href="/services/photo-booths/the-cab" class="subnav__link subnav__link--highlight subnav__link--highlight--last">Photo Booths 'The Cab'</a></li>
                                <li class="subnav__item"><a href="/services/event-photography" class="subnav__link">Event Photography</a></li>
                                <li class="subnav__item"><a href="/services/the-wall" class="subnav__link">The Wall</a></li>
                                <li class="subnav__item"><a href="/services/magical-mirror" class="subnav__link">Magical Mirror</a></li>
                                <li class="subnav__item subnav__item--last"><a href="/services/camera-hire" class="subnav__link">Compact Camera Hire</a></li>
                                <li class="subnav__item subnav__item--viewall"><a href="/services" class="subnav__link subnav__link--before">View All Services</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="site-nav__item site-nav__item--cta not-palm">
                    <a href="/contact#book" class="nav-link" ui-please-wait>Book Now</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Site Contact Info -->
    <section class="wrapper site-contact">
        <div class="container">
            <ul class="site-nav__items">
                <li class="site-nav__item">
                    <a href="tel:{{$$.site.contact.phone}}" class="nav-link"><strong>Call:</strong> {{$$.site.contact.phone}}</a>
                </li>
                <li class="site-nav__item">
                    <a href="mailto:{{$$.site.contact.email}}" class="nav-link"><strong>Email:</strong> {{$$.site.contact.email}}</a>
                </li>
                <li class="site-nav__item">
                    <a href="/contact" class="nav-link"><strong>Online:</strong> Click here</a>
                </li>
            </ul>
        </div>
    </section>

</header>

{{content}}

<footer class="wrapper site-footer">
    <div class="container">

        <div class="footer-nav footer-nav--brand">
            <a href="/" class="logo-sm">{{inc src="public/img/logo-sm.svg"}}</a>
        </div>

        <ul class="footer-nav">
            <li class="footer-nav__item"><a href="/about" class="footer-nav__link">About</a></li>
            <li class="footer-nav__item"><a href="/contact" class="footer-nav__link">Contact</a></li>
            <li class="footer-nav__item"><a href="/contact#book" class="footer-nav__link">Book</a></li>
        </ul>

        <ul class="footer-nav">
            <li class="footer-nav__item"><a href="/services" class="footer-nav__link footer-nav__link--bold">Services</a></li>
            {{#each $$.services}}
            <li class="footer-nav__item">
                <a href="{{this.url}}" class="footer-nav__link">{{this.title}}</a>
            </li>
            {{/each}}
        </ul>

        <ul class="footer-nav footer-nav--icons">
            <li class="footer-nav__item">
                <a href="tel:{{$$.site.contact.phone}}" class="footer-nav__link footer-nav__link--icon">{{inc src="icon.hbs" icon="phone"}} {{$$.site.contact.phone}}</a>
            </li>
            <li class="footer-nav__item">
                <a href="mailto:{{$$.site.contact.email}}" class="footer-nav__link footer-nav__link--icon">{{inc src="icon.hbs" icon="email"}} {{$$.site.contact.email}}</a>
            </li>
        </ul>

        <div class="footer-nav footer-nav--social social">
            <a href="{{$$.site.social.twitter}}" class="social__link social__link--twitter">{{inc src="icon.hbs" icon="twitter"}}</a>
            <a href="{{$$.site.social.facebook}}" class="social__link social__link--facebook">{{inc src="icon.hbs" icon="facebook"}}</a>
        </div>

    </div>
</footer>

<section class="wrapper site-copyright">
    <div class="container">
        <p class="copyright">© 2016 {{$$.site.title}}</p>
    </div>
</section>
