<div class="card">
    <p class="card__title">{{feature.title}} - Features:</p>
    <ul class="card__feature-list">
        {{#each feature.features}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p class="card__price">
        <strong>Price: £{{feature.price.value}}.00</strong> ({{feature.price.content}})
    </p>
    {{#if feature.price.additional}}
    <p class="card__price">
        <strong>Price: £{{feature.price.additional.value}}.00</strong> ({{feature.price.additional.content}})
    </p>
    {{/if}}
    {{#if feature.extras}}
    <p class="card__title">{{feature.title}} - Optional Extras:</p>
    <div class="card__extras">
        <table>
            <thead>
            <th>Extra</th>
            <th>Price</th>
            </thead>
            <tbody>
            {{#each feature.extras}}
                <tr>
                    <td>{{this.content}}</td>
                    <td>{{this.price.content}} <strong>£{{this.price.value}}.00</strong></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
    <div class="card__cta">
        <a href="{{$$.nav.book.url}}" class="button">Book Now</a>
    </div>
</div>
