<section class="wrapper hero-list">
    <div class="container">
        <h1 hidden>{{$$.page.title}}</h1>
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="{{service.hero.palm}}" hero-src-large="{{service.hero.large}}">
                <div class="hero__content">
                    <h2 class="hero__title">{{service.title}}</h2>
                    <p class="hero__summary">
                        {{{service.tagline}}}
                    </p>
                    {{#if page.cta}}
                    <div class="hero__cta">
                        {{#if page.gallery}}
                        <a data-scroll href="#{{page.gallery}}" class="button button--trans">Gallery</a>
                        {{/if}}
                        <a data-scroll href="#{{page.features}}" class="button button--trans">Features / Prices</a>
                        {{#if page.faq}}
                        <a data-scroll href="#{{page.faq}}" class="button button--trans">FAQ</a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>
