---
description: Profession DJ Services - Josh has been in the local DJ scene for 5 years, 3 of which he's been a resident DJ at a local bar and Nightclub.
cta: true
features: dj-features
breadcrumbs:
    - label: Home
      url: /
    - label: Services
      url: /services
thumb: /content/dj/service-thumb.jpg
gallery: "dir:public/content/dj/gallery"
og:
    image: /content/dj/service-thumb.jpg
---

{{inc src="breadcrumbs.hbs" items=page.breadcrumbs currentPage=$$.services.dj.title}}

<section class="wrapper detail">
    <div class="container">
        <div class="detail__img gallery" data-pswp-uid="1">
            <div class="gallery__header">
                <img src="{{page.thumb}}" alt="">
            </div>
            <div class="gallery__hint">Click to zoom</div>
            {{#imgs src=page.gallery rel="public"}}
                <a class="gallery__link" href="{{this.large.src}}"
                   data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                    <figure><img src="{{this.thumb.src}}" alt=""></figure>
                </a>
            {{/imgs}}
        </div>
        <div class="detail__content">
            <h2>{{{$$.services.dj.title}}}</h2>
            <p class="lede">{{{$$.services.dj.lede}}}</p>
            <p>{{$$.services.dj.desc}}</p>
            <p>
                <a ui-please-wait href="/contact" class="button button--alt">Contact us for Prices</a>
            </p>
        </div>
    </div>
</section>
