---
description: >
    Professional Photography for any event!
cta: true
features: event-photography-features
gallery: event-photography-gallery
breadcrumbs:
    - label: Home
      url: /
    - label: Services
      url: /services
---


{{inc src="hero.hbs" service=$$.services.event-photography}}
{{inc src="breadcrumbs.hbs" items=page.breadcrumbs currentPage=$$.services.event-photography.title}}

<section class="wrapper detail" id={{page.gallery}}>
    <div class="container">

        <div id="demo-test-gallery" class="detail__gallery gallery" data-pswp-uid="1">
            <p class="gallery__hint">Click to zoom</p>
            {{#imgs src="dir:public/content/event-photography/gallery" rel="public" limit=10}}
                <a class="gallery__link" href="{{this.large.src}}"
                   data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                    <img src="{{this.thumb.src}}" alt="">
                    <figure></figure>
                </a>
            {{/imgs}}

        </div>

        <div class="detail__content">
            <h2>{{{$$.services.event-photography.title}}}</h2>
            <p class="lede">{{{$$.services.event-photography.desc}}}</p>
            {{#each  $$.services.event-photography.features}}
            <p>{{{this}}}</p>
            {{/each}}

            <div class="card card--inset" id={{page.features}}>
                <p class="card__price">
                    {{$$.services.event-photography.price.content}}: <strong>£{{$$.services.event-photography.price.value}}.00</strong>
                </p>
                <p class="card__price">
                    {{$$.services.event-photography.extras.0.price.content}}: <strong>£{{$$.services.event-photography.extras.0.price.value}}.00</strong>
                </p>
                <br>
                <p class="card__title">{{$$.services.event-photography.title}} - Optional Extras:</p>
                <p>Please contact us for information about the following items</p>
                <div class="card__extras">
                    <table>
                        <thead>
                        <th>Extra</th>
                        <th style="text-align: center"></th>
                        </thead>
                        <tbody>
                        {{#each $$.services.event-photography.other-extras}}
                            <tr>
                                <td>{{this.content}}</td>
                                <td></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="card__cta">
                    <a href="{{$$.nav.book.url}}" class="button">Book Now</a>
                </div>
            </div>
        </div>
    </div>

</section>
