---
description: >
    The latest in Party Entertainment, Photo booths are becoming a must-have for parties, events or any other occasion. Available for weddings, birthday parties, corporate events and any other party or event.
cta: true
features: 'choose-your-booth'
gallery:  'photo-booths-gallery'
og:
    image: /content/photo-booths/the-pod/service-thumb.jpg
---

<section class="wrapper hero-list">
    <div class="container">
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="/content/photo-booths/the-pod/hero-01.jpg" hero-src-large="/content/photo-booths/the-pod/hero-01.jpg">
                <section class="hero__content">
                    <h1 class="hero__title">{{page.title}}</h1>
                    <p class="hero__summary">{{{page.description}}}</p>
                    <div class="hero__cta">
                        <a data-scroll href="#{{page.gallery}}" class="button button--trans">Gallery</a>
                        <a data-scroll href="#{{page.features}}" class="button button--trans">Choose your Booth</a>
                    </div>
                </section>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>

<div class="wrapper breadcrumb">
    <div class="container">
        <ul class="breadcrumb__items">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/services">Services</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Photo Booths</li>
        </ul>
    </div>
</div>

<section class="wrapper detail" id="{{page.gallery}}">
    <div class="container">

        <div id="demo-test-gallery" class="detail__gallery gallery" data-pswp-uid="1">

            <p class="gallery__hint">Click to zoom</p>
            {{#imgs src="dir:public/content/photo-booths/the-pod/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
            {{#imgs src="dir:public/content/photo-booths/selfie-pod/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
            {{#imgs src="dir:public/content/photo-booths/the-cab/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
            {{#imgs src="dir:public/content/photo-booths/mini-pod/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
        </div>


        <div class="detail__content">
            <h2>Choose from 4 different booths</h2>
            <p class="lede">Hire the very best in photo booth fun, choose from our unrivalled range of photo booths.
                ALL of our photo booths print the photo on the night!
            </p>

            <section class="service-list">
                <div class="service-list__items">
                    <a href="{{$$.services.booths-the-pod.url}}" class="service-list__item">
                        <span class="service-list__img">
                            <img src="{{$$.services.booths-the-pod.thumb}}" alt="">
                        </span>
                        <span class="service-list__content">
                            <span class="service-list__title">{{$$.services.booths-the-pod.title}}</span>
                            <span class="service-list__tagline">{{{$$.services.booths-the-pod.tagline}}}</span>
                            <span class="service-list__cta">
                                <span class="button button--alt">More Info</span>
                            </span>
                        </span>
                    </a>
                    <a href="{{$$.services.booths-selfie-pod.url}}" class="service-list__item">
                        <span class="service-list__img">
                            <img src="{{$$.services.booths-selfie-pod.thumb}}" alt="">
                        </span>
                        <span class="service-list__content">
                            <span class="service-list__title">{{$$.services.booths-selfie-pod.title}}</span>
                            <span class="service-list__tagline">{{{$$.services.booths-selfie-pod.tagline}}}</span>
                            <span class="service-list__cta">
                                <span class="button button--alt">More Info</span>
                            </span>
                        </span>
                    </a>
                    <a href="{{$$.services.booths-the-cab.url}}" class="service-list__item">
                        <span class="service-list__img">
                            <img src="{{$$.services.booths-the-cab.thumb}}" alt="">
                        </span>
                        <span class="service-list__content">
                            <span class="service-list__title">{{$$.services.booths-the-cab.title}}</span>
                            <span class="service-list__tagline">{{{$$.services.booths-the-cab.tagline}}}</span>
                            <span class="service-list__cta">
                                <span class="button button--alt">More Info</span>
                            </span>
                        </span>
                    </a>
                    <a href="{{$$.services.booths-mini-pod.url}}" class="service-list__item">
                        <span class="service-list__img">
                            <img src="{{$$.services.booths-mini-pod.thumb}}" alt="">
                        </span>
                        <span class="service-list__content">
                            <span class="service-list__title">{{$$.services.booths-mini-pod.title}}</span>
                            <span class="service-list__tagline">{{{$$.services.booths-mini-pod.tagline}}}</span>
                            <span class="service-list__cta">
                                <span class="button button--alt">More Info</span>
                            </span>
                        </span>
                    </a>
                </div>
            </section>
        </div>
    </div>
</section>
