---
description: >
    The latest in Party Entertainment, Photo booths are becoming a must-have for parties, events or any other occasion. Available for <strong>weddings</strong>, <strong>birthday parties</strong>, <strong>corporate events</strong> and any other party or event.
cta: true
features: 'choose-your-booth'
gallery:  'photo-booths-gallery'
---

<section class="wrapper hero-list">
    <div class="container">
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="/content/hero-01.jpg" hero-src-large="/content/hero-01.jpg">
                <section class="hero__content">
                    <h1 class="hero__title">{{page.title}}</h1>
                    <p class="hero__summary">{{{page.description}}}</p>
                    <div class="hero__cta">
                        <a data-scroll href="#{{page.gallery}}" class="button button--trans">Gallery</a>
                        <a data-scroll href="#{{page.features}}" class="button button--trans">Choose your Booth</a>
                    </div>
                </section>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>

<div class="wrapper breadcrumb">
    <div class="container">
        <ul class="breadcrumb__items">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/services">Services</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Photo Booths</li>
        </ul>
    </div>
</div>

<section class="wrapper detail" id="{{page.gallery}}">
    <div class="container">

        <div id="demo-test-gallery" class="detail__gallery gallery" data-pswp-uid="1">

            <p class="gallery__hint">Click to zoom</p>
            {{#imgs src="dir:public/content/photo-booths/the-pod/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
            {{#imgs src="dir:public/content/photo-booths/the-cab/gallery" rel="public"}}
            <a class="gallery__link" href="{{this.large.src}}"
               data-width="{{this.large.width}}" data-height="{{this.large.height}}">
                <img src="{{this.thumb.src}}" alt="">
                <figure></figure>
            </a>
            {{/imgs}}
        </div>

        <div class="detail__content">
            <h2>Choose from three booths</h2>
            <p class="lede">We currently have 3 different booths available for hire.</p>
            <ul>
                <li><strong>The Pod: </strong>Ideal for most adult events</li>
                <li><strong>The Cab: </strong>Perfect for any outdoor events</li>
                <li><strong>The Mini Pod: </strong>Choose this for kids parties</li>
            </ul>
            <p><a data-scroll href="#choose-your-booth" class="button button--alt">Choose your Booth</a></p>
        </div>
    </div>
</section>

<section class="wrapper upsell" id="choose-your-booth">
    <div class="container">
        <h1 class="page-title">Which Photo Booth is right for you?</h1>
        <div class="cards cards--full-bleed" id="photo-booths-choice">
            <!-- TODO: Add info/content for each of the three pods -->
            <!-- The Pod -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.the-pod.url}}">
                    <img src="{{$$.booths.the-pod.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.the-pod.title}}</p>
                <p class="card__summary">{{$$.booths.the-pod.tagline}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.the-pod.url}}" class="button">Read More</a>
                </p>
            </div>

            <!-- The Cab -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.the-cab.url}}">
                    <img src="{{$$.booths.the-cab.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.the-cab.title}}</p>
                <p class="card__summary">{{{$$.booths.the-cab.tagline}}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.the-cab.url}}" class="button">Read More</a>
                </p>
            </div>

            <!-- Mini Pod -->
            <div class="card">
                <a class="card__img" href="{{$$.booths.mini-pod.url}}">
                    <img src="{{$$.booths.mini-pod.thumb}}" alt="">
                </a>
                <p class="card__title">{{$$.booths.mini-pod.title}}</p>
                <p class="card__summary">{{{$$.booths.mini-pod.tagline}}}</p>
                <p class="card__cta">
                    <a href="{{$$.booths.mini-pod.url}}" class="button">Read More</a>
                </p>
            </div>
        </div>
    </div>
</section>
