---
description: >
    3 Different Booths for any event!
---

{{inc src="hero.hbs"}}

<section class="wrapper quick-nav">
    <div class="container">
        <div class="quick-nav__items">
            {{#each $$.booths}}
                <a href="{{this.url}}" class="quick-nav__item">
                    <span class="quick-nav__item__icon quick-nav__item__icon--{{this.icon}}">{{inc src="icon.hbs" icon=this.icon}}</span>
                    <span class="quick-nav__item__title">{{this.title}}</span>
                </a>
            {{/each}}
        </div>
    </div>
</section>
