---
description: >
    The Cab, can be driven directly into your event
---

{{inc src="hero.hbs" service=$$.booths.the-cab}}


<section class="wrapper detail">
    <div class="container">

        <div id="demo-test-gallery" class="detail__gallery gallery" data-pswp-uid="1">

            <p class="gallery__hint">Click to zoom</p>

            {{#each $$.booths.the-cab.gallery.images}}
            <a class="gallery__link" href="{{this.file}}-large.jpg"
                data-width="{{this.width}}" data-height="{{this.height}}">
                <img src="{{this.file}}-thumb.jpg" alt="">
                <figure></figure>
            </a>
            {{/each}}

        </div>
        <div class="detail__content">
            <h2>{{{$$.booths.the-cab.title}}}</h2>
            <p class="lede">{{{$$.booths.the-cab.desc}}}</p>
            <p><strong>From: </strong>£{{$$.booths.the-cab.price.value}}.00</p>
        </div>
    </div>
</section>

{{inc src="features.hbs" feature=$$.booths.the-cab}}
