---
description: >
    We offer a wide range of <strong>high-quality services</strong> that will ensure your event is one to be remembered!
breadcrumbs:
    - label: Home
      url: /
features: yes-services
---


<section class="wrapper hero-list">
    <div class="container">
        <article class="hero hero--loading">
            <section class="hero__img" hero-src="/content/photo-booths/the-pod/hero-01.jpg" hero-src-large="/content/photo-booths/the-pod/hero-01.jpg">
                <section class="hero__content">
                    <h1 class="hero__title">{{page.title}}</h1>
                    <p class="hero__summary">{{{page.description}}}</p>
                    <div class="hero__cta">
                        <a data-scroll href="#{{page.features}}" class="button button--trans">Our Services</a>
                    </div>
                </section>
            </section>
            <div class="loader"></div>
        </article>
    </div>
</section>

<div class="wrapper" id="yes-services">
    <div class="container">
        <h1 hidden>Choose from the many services we provide</h1>
        <br>
        <section class="service-list">
            <div class="service-list__items">
                {{#each $$.quick-nav}}
                <a href="{{this.url}}" class="service-list__item">
                    <span class="service-list__img">
                        <img src="{{this.thumb}}" alt="">
                    </span>
                    <span class="service-list__content">
                        <span class="service-list__title">{{this.title}}</span>
                        <span class="service-list__tagline">{{this.tagline}}</span>
                        <span class="service-list__cta">
                            <span class="button button--alt">More Info</span>
                        </span>
                    </span>
                </a>
                {{/each}}
            </div>
        </section>
    </div>
</div>
